version: '3.13'
services:
  app:
    container_name: python_docker
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    tty: true
    volumes:
      - type: bind
        source: .
        target: /python_workspace